.nav {
    opacity: 0;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 55vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 0;
    margin: 20px 5vw 0 10vw;
    

    @media (max-width: 1490px) {
        width: 60vw;
    }

    @media (max-width: 1170px) {
        width: 80vw;
        margin: 20px 10vw 0 10vw;
    }
}


.logo {
    height: 50px;
    display: inline-block;
    transition: .3s transform ease-out .07s;
    img {
        height: 100%;
    }

    @media (max-width: 506px) {
        height: 40px;
    }
}

.menu-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    &__item {
        padding: 10px 10px 0 10px;
        font-size: 14px;

        &:not(:last-child) {
            margin-right: 25px;
        }

        a {
            font-weight: 500;
            text-decoration: none;
            color: #82AAFE;
        }
    }

    @media (max-width: 801px) {
        display: none;
    }

}

.side-nav {
    display: none;
    position: fixed;
    z-index: 1100;
    top: 0;
    right: -110px;
    height: 100vh;
    width: 310px;
    background-color: rgb(56, 56, 56);
    transform: translateX(200px);
    transition: .3s transform ease-out;

    @media(max-width: 801px) {
        display: block;
    }
   
    
    .side-menu-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        margin-top: 35px;
    
     &__item {
            padding: 15px 10px;
            font-size: 14px;
            cursor: pointer;
    
            a {
                font-weight: 500;
                text-decoration: none;
                color: rgb(172, 172, 172);
            }
        }
    
    }
}
.side-nav--open {
    transform: translateX(0);
}


.hamburger-menu {
    display: none;
    height: 35px;
    cursor: pointer; 
    transition: .3s transform ease-out .07s;

    button {
        background-color: transparent;
        border: none;
        padding: 15px 5px;
        cursor: pointer; 
       
    }

    .bar {
        position: relative;
        display: block;
        height: 3px;
        width: 28px;
        background-color: rgba(226, 226, 226, 0.61);

        &::before {
            content: '';
            display: block;
            height: 3px;
            width: 28px;
            background-color: rgba(226, 226, 226, 0.61);
            position: absolute;
            top: -9px;
        }

        &::after {
            content: '';
            display: block;
            height: 3px;
            width: 28px;
            background-color: rgba(226, 226, 226, 0.61);
            position: absolute;
            bottom: -9px;
        }
    } 

    @media (max-width: 801px) {
        display: inline-block;
    }

   
}

.moveBtn {
    transform: translateX(-210px);
}

.nav--fixed {
    position: fixed;
    background-image:  linear-gradient(to bottom, rgb(17, 78, 209), rgb(0, 54, 170));
    width: 100vw;
    margin: 0;
    padding: 15px 10vw;
    align-items: center;

    @media(max-width: 500px) {
        padding: 8px 20px;
    }

    .logo {
        height: 25px;
    }
}