.nav {
    // opacity: 0;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 0;
    margin: 20px 7.5vw 0 7.5vw;
    

   

    @media (max-width: 1170px) {
        width: 80vw;
        margin: 20px 10vw 0 10vw;
    }
}


.logo {
    height: 50px;
    display: inline-block;
    transition: .3s transform ease-out .07s;
    img {
        height: 100%;
    }

    @media (max-width: 506px) {
        height: 40px;
    }
}


.side-nav {
    
    position: fixed;
    z-index: 1100;
    top: 0;
    right: -110px;
    height: 100vh;
    width: 450px;
    background-color:#212121;
    transform: translateX(500px);
    transition: .3s transform ease-out;
    box-shadow: -15px 0 20px rgba(0, 0, 0, 0.301);

    @media(max-width: 1170px) {
        width: 380px;
    }

    @media(max-width: 500px) {
        width: 330px;
    }


    @media(max-width: 801px) {
        display: block;
    }
   
    
    .side-menu-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        a {
            font-weight: 500;
            text-decoration: none;
            color: rgb(172, 172, 172);
            font-size: 16px;
        }
    
     &__item {
            display: flex;
            align-items: center;
            padding: 15px 10px;
            font-size: 14px;
            cursor: pointer;
            transition: .5s background-color ease-out;

            &:hover {
                background-color: #353535
            }

            .icon-box {
                padding: 10px;
                width: 25px;
                margin-right: 10px;
                display: inline-block;

                img {
                    width: 100%;
                }
            }
           
        }
    
    }
}
.side-nav--open {
    transform: translateX(0);
}


.hamburger-menu {
    height: 35px;
    cursor: pointer; 
    transition: .3s transform ease-out .07s;

    button {
        background-color: transparent;
        border: none;
        padding: 15px 5px;
        cursor: pointer; 
       
    }

    .bar {
        border-radius: 2px;
        position: relative;
        display: block;
        height: 4px;
        width: 35px;
        background-color: rgba(88, 88, 88, 0.61);

        @media(max-width: 1170px) {
            background-color: white;
        }

        &::before {
            content: '';
            display: block;
            height: 4px;
            width: 35px;
            background-color: inherit;
            position: absolute;
            top: -11px;
            border-radius: 2px;
        }

        &::after {
            content: '';
            display: block;
            height: 4px;
            width: 30px;
            background-color: inherit;
            position: absolute;
            bottom: -11px;
            border-radius: 2px;
        }
    } 

    @media (max-width: 801px) {
        display: inline-block;
    }

   
}

.moveBtn {
    transform: translateX(-350px);

    @media (max-width: 500px) {
        transform: translateX(-250px);
    }
}

.nav--fixed {
    position: fixed;
    right: 80px;
    top: 0;
    background-color: #1255E2;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.404);
    width: auto;
    margin: 0; 
    align-items: center;
    border-radius: 0 0 80px 80px;
    padding: 8px 15px 12px;
     
    .hamburger-menu .bar {
        background-color: white;
    }

    @media(max-width: 900px) {
        right: 10px;
    }
}