h1, h2, h3, p, a {
    color: white;
}

.section-title {
    color: #1255E2;
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 0;
}
.section-description {
    line-height: 1.8;
    letter-spacing: .5px;
    font-size: 18px;
    font-weight: 400;
    color: #82AAFE;
}